/* Общий стиль для навигационной панели */
.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #333;
    transition: background-color 0.3s ease;
}

.navbar:hover {
    background-color: #f9f9f9;
}

.logo {
    font-size: 28px;
    z-index: 2;
    font-weight: 700;
    color: #333;
    letter-spacing: 2px;
    transition: color 0.3s ease;
}

.logo:hover {
    color: #f39c12;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    transition:
        color 0.3s ease,
        transform 0.3s ease;
}

.nav-links a:hover {
    color: #f39c12;
    transform: translateY(-2px);
}

.nav-links .active::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #f39c12;
    border-radius: 2px;
}

.admin-icon {
    position: relative;
    right: 70px;
    top: 0;
    z-index: 2;
    font-size: 24px;
    color: #333;
    transition:
        color 0.3s ease,
        transform 0.3s ease;
}

.admin-icon:hover {
    color: #f39c12;
    transform: rotate(360deg);
}

/* Адаптивность */

/* Для планшетов */
@media (max-width: 768px) {
    .navbar {
        padding: 25px 25px;
    }

    .logo {
        font-size: 30px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        gap: 15px;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .navbar.open .nav-links {
        display: flex;
    }

    .nav-links a {
        font-size: 20px;
    }

    .admin-icon {
        font-size: 28px;
    }

    .logo {
        font-size: 26px;
    }
}

/* Общие стили для заднего фона */
.nav-links-bg {
    list-style: none;
    z-index: 1001;
}
.nav-links-bg li {
    text-transform: uppercase;
    margin-bottom: 25px;
}

.nav-links-bg li:last-child {
    margin-bottom: 0;
}

.nav-links-bg a {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
}

/* Position and sizing of burger button */
.bm-burger-button {
    display: none;
    position: fixed;
    width: 36px;
    height: 30px;
    right: 90px;
    top: 25px;
}

/* mobile opt */
@media (max-width: 768px) {
    .bm-burger-button {
        display: block;
    }
    .nav-links-bg {
        width: 80%;
        max-width: 400px;
    }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #000000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 40px;
    width: 30px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #ffffff;    
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    padding-top: 160px;
    font-size: 1.15em;
}

.bm-overlay {
    top: 0;
    right: 0;
}

@media (max-width: 420px) {
    .admin-icon {
        right: 50px;
    }
    .bm-burger-button {
        right: 70px;
    }

}
