.contacts-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding: 100px 20px 0px 20px;
  background-color: #fafafa;
}

.contacts-card {
  background: white;
  padding: 0; 
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  text-align: center;
  max-width: 900px;
  overflow: hidden;
}

.contact-image-wrapper img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.contacts-card h2 {
  font-size: 16px;
  color: #222;
  margin: 10px 0;
}

.contacts-card p {
  color: #777;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 0 20px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-top: 1px solid #eee;
}

.contact-link {
  display: block;
  font-size: 18px;
  color: #333;
  text-decoration: none;
  padding: 10px;
  transition: background 0.3s;
}

.inst-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 18px; 
  color: #333;
  text-decoration: none;
  padding: 10px;
  transition: background 0.3s;
}

.inst-link:hover {
  background: #f9f9f9;
  border-radius: 8px;
}

.inst-icon {
  width: 24px; 
  height: 24px;
}

.contact-link:hover {
  background: #f9f9f9;
  border-radius: 8px;
}